<!doctype html>
<html ng-app="agento">
  <head>
    <script>
    window.sshPublicKey = '[[ .sshPublicKey ]]';
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="agento.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
.flash {
    animation-name: flash-animation;
    animation-duration: 0.3s;
}

@keyframes flash-animation {
    from { background: #88a5ee; }
    to   { background: default; }
}

td > h4 {
  margin-top: 0px;
}
    </style>
  </head>
  <body ng-controller="MainController as main" style="margin-top: 44px;">

   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="/">Agento</a>
       </div>

       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
           <li>Uptime: {{ main.uptime | goDuration }}</li>
         </ul>
       </div>
     </div>
   </nav>

   <div class="container">
    <h3>Monitors</h3>
    <table class="table">
     <tr ng-repeat="mon in main.monitors" flash-anim>
      <td>{{ mon.id }}</td>
      <td>{{ main.getHost(mon.hostId).name }}</td>
      <td>{{ mon.interval | goDuration }}</td>
      <td>{{ mon.agent.agentId }}</td>
      <td>{{ mon.agent.arguments | json }}</td>
      <td>{{ mon.lastResult.Measurements | json }}</td>
      <td>{{ mon.lastResult.Measurements.time | goDuration }}</td>
      <td class="text-right">
       <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <button type="button" class="btn btn-danger" ng-click="main.deleteMonitor(mon.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
       </div>
      </td>
     </tr>
    </table>
   </div>

   <div class="container">
    <h3>Registered agents</h3>
    <table class="table">
     <tr ng-repeat="(name, agent) in main.agents">
      <td>
       <h4>{{ agent.info.name }}<br />
       <small>{{ agent.info.description }}</small></h4>
      </td>
      <td>
        <span ng-repeat="par in agent.parameters" style="display:inline-block;margin-right:10px;border-left:1px solid #ccc;padding-left:5px;">
         <b>{{ par.name }}</b><br/>
         {{ par.description }}
        </span>
      </td>
      <td class="text-right">
       <button class="btn btn-default btn-xs" ng-click="main.addMonitor(name)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add monitor</button>
      </td>
     </tr>
    </table>
   </div>

   <div class="container">
    <h3>Hosts</h3>
    <table class="table">
     <tr ng-repeat="host in main.hosts">
      <td>{{ host.id }}</td>
      <td>{{ host.name }}</td>
      <td>{{ host.transport | json }}</td>
      <td class="text-right">
       <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <button ng-disabled="host.id == '000000000000000000000000'" type="button" class="btn btn-danger" ng-click="main.deleteHost(host.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
       </div>
      </td>
     </tr>
    </table>
    <button class="btn btn-default btn-sm" ng-click="main.addHost()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add host</button>
   </div>

  </body>

  <script type="text/ng-template" id="newHostModalTemplate">
   <div class="modal-header">
    <h3 class="modal-title">Add SSH host</h3>
   </div>
   <div class="modal-body">

    <label>Hostname</label>
    <div class="input-group">
     <input class="form-control" ng-model="newHost.transport.host"></input>
    </div>

    <label>SSH port</label>
    <div class="input-group">
     <input class="form-control" ng-model="newHost.transport.port" type="number"></input>
    </div>

    <label>Username</label>
    <div class="input-group">
     <input class="form-control" ng-model="newHost.transport.username"></input>
    </div>

   </div>
   <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Add host</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
    <div class="text-left">
    <h4>Add this to <code>~/.ssh/authorized_keys</code> <span ng-if="newHost.transport.host">on</span> {{ newHost.transport.host }}</h4>
    <pre>{{ sshPublicKey }}</pre>
    <h4>Or run:</h4>
    <pre>ssh-copy-id -i /etc/agento/id_rsa -p {{ newHost.transport.port }} {{ newHost.transport.username }}@{{ newHost.transport.host }}</pre>
    </div>
   </div>
 </script>

  <script type="text/ng-template" id="newMonitorTemplate">
   <div>
    <div>
     <label>Check interval</label>
     <div class="input-group">
      <input class="form-control" ng-model="newMonitor.interval" type="number"></input>
      <span class="input-group-addon">seconds</span>
     </div>
    </div>

    <label>Run test at</label>
    <div class="input-group">
      <select class="form-control" ng-model="newMonitor.hostId">
       <option ng-repeat="value in hosts" value="{{ value.id }}" ng-selected="$first">{{ value.name }}</option>
      </select>
     </div>
    </div>

    <div ng-repeat="par in agent.parameters">
     <div ng-switch="par.type">

      <div ng-switch-when="string">
       <label>{{ par.description }}</label>
       <div class="input-group">
        <input ng-model="newMonitor.agent.arguments[par.name]"></input>
       </div>
      </div>

      <div ng-switch-when="enum">
       <label>{{ par.description }} ({{ par.name }})</label>
       <div class="input-group">
        <select class="form-control" ng-model="newMonitor.agent.arguments[par.name]">
         <option ng-repeat="value in par.enumValues" value="{{ value }}">{{ value }}</option>
        </select>
       </div>
      </div>

      <div ng-switch-when="uint16">
       <label>{{ par.description }}</label>
       <div class="input-group">
        <input ng-model="newMonitor.agent.arguments[par.name]" type="number"></input>
       </div>
      </div>

      <div ng-switch-when="time.Duration">
       <label>{{ par.description }}</label>
       <div class="input-group">
        <input class="form-control"  ng-model="newMonitor.agent.arguments[par.name]" type="number"></input>
        <span class="input-group-addon">ns</span>
       </div>
      </div>

      <div ng-switch-default>
       <label>{{ par.description }}</label>
       {{ par | json }}
      </div>
     </div>
    </div>
  </script>

  <script type="text/ng-template" id="newMonitorModalTemplate">
   <div class="modal-header">
    <h3 class="modal-title">Add {{ agent.info.name }} monitor<br /><small>{{ agent.info.description }}</small></h3>
   </div>
   <div class="modal-body">
   <ng-include src="'newMonitorTemplate'"></ng-include>
   </div>
   <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Add monitor</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
   </div>
 </script>

</html>
